.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    max-height: 400px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo {
    max-width: 50px;
    max-height: 50px;
}

.links{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.link{
    padding: 10px;
}